.container {
  display: flex;
  flex-direction: column;
}

.logo {
  margin-top: 10px;
  height: 100px;
  width: 100px;
  border-radius: 20px;
}

.content {
  display: flex;
  flex-direction: column;
}

.input {
  width: 50%;
  margin-top: 20px;
}

.button {
  width: 30%;
  margin-top: 20px;
  background-color: lightblue
}
